@import "tailwindcss";


@theme {
  --font-gemunu: "Gemunu Libre", sans-serif;
  --font-open: "Open Sans", sans-serif;

  /* Renkler */
  --color-gega-red: #BC1A45;
  --color-gega-melon: #FFD369;
  --color-gega-grey: #DDDDDD;
  --color-gega-white: #F7F7F7;



  --spacing-128: 32rem;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;

  @variant lg {
    max-width: 1140px;
  }

  @variant xl {
    max-width: 1140px;
  }

  @variant 2xl {
    max-width: 1140px;
  }
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-gemunu uppercase;
  }

  h2 {
    @apply text-2xl tracking-wider;
  }

  a {
    @apply font-gemunu;
  }
}